<html>
<head>
<title>Rate-It</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20" data-no-turbolink="true">

  <div class="col-md-10">
    <!--Body content-->
    <div class="row">
      <div class="col-md-6 no-pad margin">
        <a href="#">
          <img class="img-responsive" src="/assets/dummy.jpg"></a>
        </div>

        <div class="col-md-3 no-pad">
         <img class="img-responsive" src="/assets/dummy.jpg">
       </div>

       <div class="col-md-3 no-pad">
         <img class="img-responsive" src="/assets/dummy.jpg">
       </div>
       <div class="col-md-3 no-pad">
         <img class="img-responsive" src="/assets/dummy.jpg">
       </div>
       <div class="col-md-3 no-pad">

         <img class="img-responsive" src="/assets/dummy.jpg">

       </div>
     </div>    

     <%= render '/shared/carousel1' %>

     <%= render '/shared/carousel2' %> 

     <%= render '/shared/carousel3' %>

   </div>


 </div>
</div>  
</body>
</html>